<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Yurtotomasyon.Properties.Settings.yurtotomasyonConnectionString"
            connectionString="Data Source=yurtoto.database.windows.net;Initial Catalog=yurtotomasyon;User ID=samsunlu55621;Password=SamsunLu5562"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>